@import url(./app/colors.scss);

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url(./assets/fonts/material_symbols_outlined.woff2) format("woff2");
}

/* nunito-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/nunito-v26-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/nunito-v26-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/nunito-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/nunito-v26-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/nunito-v26-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/nunito-v26-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/nunito-v26-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/nunito-v26-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  font-family: Nunito, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

a {
  color: var(--primary-light);
  padding: 5px 15px;
  border-radius: 30px;

  &:hover {
    background-color: var(--primary-gray-light);
  }
}

input {
  border-radius: 100px;
  padding: 13px 32px;
  padding-left: 20%;
  background: var(--primary-gray-light);
  border: unset;
  outline: 1px solid transparent;
  width: 90%;
  font-size: 1.125rem;

  &::placeholder {
    font-size: 1.125rem;
  }

  &:focus-within {
    outline: 1px solid var(--input-border);
  }
}

button {
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  font-size: 1.125rem;
  transition: 125ms ease-in-out;
}

.primary-btn {
  color: white;
  background-color: var(--primary);
  padding: 12px 25px;

  &:hover {
    background-color: var(--primary-light);
  }
  &:focus {
    background-color: var(--primary);
  }
  &:disabled {
    cursor: not-allowed;
    background-color: var(--primary-gray);
  }
}

.secondary-btn {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 12px 25px;

  &:hover {
    background-color: var(--secondary-btn-hover);
    color: white;
  }

  &:focus {
    background-color: var(--primary);
    color: white;
  }

  &:disabled {
    color: var(--primary-gray);
    border: 1px solid var(--primary-gray);
    background-color: transparent;
    cursor: not-allowed;
  }
}

:root {
  --primary: #444df2;
  --primary-light: #797ef3;
  --primary-gray: #686868;
  --primary-gray-light: #eceefe;
  --input-border: #9747ff;
  --secondary-btn-hover: #535af1;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.material-purple {
  color: #535af1;
}
