<div class="drawer">
  <div class="drawer-header">
    <div class="drawer-header-left">
      <img
        src="../../../../assets/icons/arrow_drop_down.svg"
        alt="close dropdown"
      />
      <img
        src="../../../../assets/icons/workspaces.svg"
        alt="workspaces icon"
      />
      <h2>Channels</h2>
    </div>
    <div class="drawer-header-right">
      <img src="../../../../assets/icons/add_colored.svg" alt="Add channel" />
    </div>
  </div>
  <div class="drawer-channel-list">
    <div class="channel-item">
      <span class="channel-icon">#</span>
      <h3 class="channel-title">Entwicklerteam</h3>
    </div>
  </div>
  <div class="drawer-channel-list">
    <div class="channel-item">
      <span class="channel-icon">#</span>
      <h3 class="channel-title">Designteam</h3>
    </div>
  </div>
  <div class="drawer-add-channel">
    <img
      src="../../../../assets/icons/add_channel_circle.svg"
      alt="add new channel"
    />
    <h3>Channel hinzufügen</h3>
  </div>
</div>

<div class="drawer">
  <div class="drawer-header">
    <div class="drawer-header-left">
      <img
        src="../../../../assets/icons/arrow_drop_down.svg"
        alt="close dropdown"
      />
      <img
        src="../../../../assets/icons/account_circle.svg"
        alt="account icon"
      />
      <h2>Direktnachrichten</h2>
    </div>
    <div class="drawer-header-right">
      <img src="../../../../assets/icons/add_colored.svg" alt="Add channel" />
    </div>
  </div>
  <div class="drawer-channel-list">
    <div class="channel-item">
      <img
        class="user-avatar"
        src="../../../../assets/avatars/avatar01.svg"
        alt="User Avatar"
      />
      <h3 class="channel-title">Hans Peter</h3>
    </div>
  </div>
  <div class="drawer-channel-list">
    <div class="channel-item">
      <img
        class="user-avatar"
        src="../../../../assets/avatars/avatar01.svg"
        alt="User Avatar"
      />
      <h3 class="channel-title">Julia Seifert</h3>
    </div>
  </div>
</div>

<div class="new-message">
  <img
    src="../../../../assets/icons/new_message.svg"
    alt="write a new message"
  />
</div>
